/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #010b16;
  color: hsl(60, 83%, 98%);
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}


header {
  background-color: #343a40;
  color: #fff;
  padding: 20px 0;
}

header h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

section {
  padding: 40px 0;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.project {
  
  padding: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

footer {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.profile-picture img {
  border-radius: 50%;
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.bio {
  text-align: justify;
}
